USE [StudentManagent_WCF]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](254) NULL,
	[Description] [nvarchar](254) NULL,
	[FacultyId] [int] NULL,
	[DateCreated] [datetime] NULL,
	[CourseId] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[CourseStart] [datetime] NOT NULL,
	[CourseEnd] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](254) NULL,
	[Description] [nvarchar](254) NULL,
	[DateCreated] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpenClass]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](254) NULL,
	[SubjectId] [int] NULL,
	[LecturerId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Content] [nvarchar](254) NULL,
	[Location] [nvarchar](254) NULL,
	[MaxStudent] [int] NULL,
	[DateCreated] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_OpenClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[EntityId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[IdFacutly] [int] NULL,
	[Avatar] [image] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentAndOpenClass]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAndOpenClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[OpenClassId] [int] NULL,
	[ScoreId] [int] NULL,
	[DateCreated] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_StudentAndOpenClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentSubject]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NULL,
	[NumberStudy] [int] NULL,
	[Semester] [int] NULL,
	[Score1] [float] NULL,
	[Score2] [float] NULL,
	[Score3] [float] NULL,
	[SummaryScore] [float] NULL,
	[SummaryScore4] [float] NULL,
	[Scoreword] [nvarchar](10) NULL,
	[Evaluate] [bit] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_StudentSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](254) NULL,
	[Credits] [int] NULL,
	[Semester] [int] NULL,
	[UsedCalculate] [bit] NULL,
	[FacultyId] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeUser]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](254) NULL,
	[Deleted] [bit] NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_TypeUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NULL,
	[IdCard] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](254) NULL,
	[Phone] [nvarchar](254) NULL,
	[UserLogin] [nvarchar](100) NULL,
	[Password] [nvarchar](254) NULL,
	[Avatar] [image] NULL,
	[DayOfBirth] [datetime] NULL,
	[UserType] [int] NULL,
	[ClassId] [int] NULL,
	[FacultyId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Active] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[CourseId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([Id], [Name], [Description], [FacultyId], [DateCreated], [CourseId], [Deleted]) VALUES (1, N'DH7C4', N'', 1, CAST(N'2021-05-22 22:00:04.730' AS DateTime), 8, 0)
INSERT [dbo].[Class] ([Id], [Name], [Description], [FacultyId], [DateCreated], [CourseId], [Deleted]) VALUES (2, N'DH7C5', N'Lớp DH7C5', 1, CAST(N'2021-05-22 22:08:37.260' AS DateTime), 8, 0)
INSERT [dbo].[Class] ([Id], [Name], [Description], [FacultyId], [DateCreated], [CourseId], [Deleted]) VALUES (3, N'DH7C3', N'', 1, CAST(N'2021-05-22 22:12:56.087' AS DateTime), 8, 0)
SET IDENTITY_INSERT [dbo].[Class] OFF
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Name], [CourseStart], [CourseEnd], [IsActive], [DateCreated], [Deleted]) VALUES (1, N'Khóa DH1', CAST(N'2011-06-15 00:00:00.000' AS DateTime), CAST(N'2015-07-01 00:00:00.000' AS DateTime), 0, NULL, 0)
INSERT [dbo].[Course] ([Id], [Name], [CourseStart], [CourseEnd], [IsActive], [DateCreated], [Deleted]) VALUES (2, N'Khóa DH2', CAST(N'2012-03-22 09:06:05.000' AS DateTime), CAST(N'2016-08-31 09:06:05.000' AS DateTime), 0, CAST(N'2021-05-20 09:06:36.117' AS DateTime), 0)
INSERT [dbo].[Course] ([Id], [Name], [CourseStart], [CourseEnd], [IsActive], [DateCreated], [Deleted]) VALUES (3, N'Khóa DH3', CAST(N'2013-07-25 09:06:40.000' AS DateTime), CAST(N'2017-08-23 09:06:40.000' AS DateTime), 0, CAST(N'2021-05-20 09:07:22.220' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([Id], [Name], [Description], [DateCreated], [IsDeleted]) VALUES (1, N'Khoa công nghệ thông tin', N'Khoa Công nghệ thông tin', CAST(N'2021-05-18 14:08:00.397' AS DateTime), 0)
INSERT [dbo].[Faculty] ([Id], [Name], [Description], [DateCreated], [IsDeleted]) VALUES (2, N'Khoa điện tử viễn thông', N'Khoa điện tử viễn thông', CAST(N'2021-05-18 14:08:00.397' AS DateTime), 0)
INSERT [dbo].[Faculty] ([Id], [Name], [Description], [DateCreated], [IsDeleted]) VALUES (3, N'Khoa luật', N'', CAST(N'2021-05-22 18:44:34.137' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[OpenClass] ON 

INSERT [dbo].[OpenClass] ([Id], [Name], [SubjectId], [LecturerId], [StartDate], [EndDate], [Content], [Location], [MaxStudent], [DateCreated], [Deleted]) VALUES (1, N'WCF Lớp 2', 22, 14, CAST(N'2021-04-18 17:18:23.000' AS DateTime), CAST(N'2021-06-03 17:18:23.000' AS DateTime), N'Thứ 2 Tiết 1,2,3,4,5', N'A,1002', 5, CAST(N'2021-05-28 17:18:52.013' AS DateTime), 0)
INSERT [dbo].[OpenClass] ([Id], [Name], [SubjectId], [LecturerId], [StartDate], [EndDate], [Content], [Location], [MaxStudent], [DateCreated], [Deleted]) VALUES (2, N'Đại số lớp 1', 1, 13, CAST(N'2021-04-17 17:18:23.000' AS DateTime), CAST(N'2021-06-03 17:18:23.000' AS DateTime), N'Thứ 2 Tiết 1,2,3,4', N'A,1002', 55, CAST(N'2021-05-28 18:15:38.847' AS DateTime), 0)
INSERT [dbo].[OpenClass] ([Id], [Name], [SubjectId], [LecturerId], [StartDate], [EndDate], [Content], [Location], [MaxStudent], [DateCreated], [Deleted]) VALUES (3, N'WCF Lớp 2', 22, 14, CAST(N'2021-04-17 17:18:23.000' AS DateTime), CAST(N'2021-06-03 17:18:23.000' AS DateTime), N'Thứ 2 Tiết 1,2,3,4,5', N'A,1002', 55, CAST(N'2021-05-28 18:22:42.700' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OpenClass] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([EntityId], [FullName], [Mobile], [Address], [IdFacutly], [Avatar]) VALUES (1, N'Trần Thành Văn', N'0978134030', N'HH01B KDT Thanh Hà', 0, NULL)
INSERT [dbo].[Student] ([EntityId], [FullName], [Mobile], [Address], [IdFacutly], [Avatar]) VALUES (3, N'Test', N'123456', N'123456', 0, NULL)
INSERT [dbo].[Student] ([EntityId], [FullName], [Mobile], [Address], [IdFacutly], [Avatar]) VALUES (5, N'Thành Đại', N'123', N'456', 0, NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentAndOpenClass] ON 

INSERT [dbo].[StudentAndOpenClass] ([Id], [StudentId], [OpenClassId], [ScoreId], [DateCreated], [Deleted]) VALUES (17, 3, 4, 46, CAST(N'2021-05-31 20:39:05.253' AS DateTime), 1)
INSERT [dbo].[StudentAndOpenClass] ([Id], [StudentId], [OpenClassId], [ScoreId], [DateCreated], [Deleted]) VALUES (18, 3, 2, 47, CAST(N'2021-05-31 20:39:16.107' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StudentAndOpenClass] OFF
SET IDENTITY_INSERT [dbo].[StudentSubject] ON 

INSERT [dbo].[StudentSubject] ([Id], [StudentId], [SubjectId], [NumberStudy], [Semester], [Score1], [Score2], [Score3], [SummaryScore], [SummaryScore4], [Scoreword], [Evaluate], [Deleted]) VALUES (31, 2, 1, 1, 1, 2, 2, 1.5, 1.7, 0, N'F', 0, 0)
INSERT [dbo].[StudentSubject] ([Id], [StudentId], [SubjectId], [NumberStudy], [Semester], [Score1], [Score2], [Score3], [SummaryScore], [SummaryScore4], [Scoreword], [Evaluate], [Deleted]) VALUES (32, 3, 1, 1, 1, 8, 6.5, 0.5, 3.2, 0, N'F', 0, 0)
INSERT [dbo].[StudentSubject] ([Id], [StudentId], [SubjectId], [NumberStudy], [Semester], [Score1], [Score2], [Score3], [SummaryScore], [SummaryScore4], [Scoreword], [Evaluate], [Deleted]) VALUES (33, 5, 1, 1, 1, 4, 7, 8, 7, 3, N'B', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[StudentSubject] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name], [Credits], [Semester], [UsedCalculate], [FacultyId], [Deleted]) VALUES (1, N'Đại số', 3, 1, 1, 1, 0)
INSERT [dbo].[Subject] ([Id], [Name], [Credits], [Semester], [UsedCalculate], [FacultyId], [Deleted]) VALUES (2, N'Tin học cơ sở', 3, 1, 1, 1, 0)
INSERT [dbo].[Subject] ([Id], [Name], [Credits], [Semester], [UsedCalculate], [FacultyId], [Deleted]) VALUES (3, N'Giải tích 1', 2, 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[TypeUser] ON 

INSERT [dbo].[TypeUser] ([Id], [TypeName], [Deleted], [DateCreated]) VALUES (1, N'System Admin', 0, NULL)
INSERT [dbo].[TypeUser] ([Id], [TypeName], [Deleted], [DateCreated]) VALUES (2, N'Lecturers', 0, NULL)
INSERT [dbo].[TypeUser] ([Id], [TypeName], [Deleted], [DateCreated]) VALUES (3, N'Student', 0, NULL)
SET IDENTITY_INSERT [dbo].[TypeUser] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Gender], [IdCard], [Email], [Address], [Phone], [UserLogin], [Password], [Avatar], [DayOfBirth], [UserType], [ClassId], [FacultyId], [IsDeleted], [Active], [DateCreated], [CourseId]) VALUES (1, N'Trần Thành Văn', N'Nam', NULL, N'Tranthanhvan1590@gmail.com', N'Quảng Ninh', N'0978134030', N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', NULL, NULL, 1, NULL, NULL, 0, 1, NULL, NULL)
INSERT [dbo].[User] ([Id], [FullName], [Gender], [IdCard], [Email], [Address], [Phone], [UserLogin], [Password], [Avatar], [DayOfBirth], [UserType], [ClassId], [FacultyId], [IsDeleted], [Active], [DateCreated], [CourseId]) VALUES (3, N'Nguyễn Tường Vũ', N'Nam', N'', N'', N'', N'0978134030', N'tuongvu123', N'E10ADC3949BA59ABBE56E057F20F883E', NULL, CAST(N'1999-01-26 10:15:22.000' AS DateTime), 3, 1, NULL, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Faculty] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Faculty]
GO
ALTER TABLE [dbo].[OpenClass]  WITH CHECK ADD  CONSTRAINT [FK_OpenClass_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OpenClass] CHECK CONSTRAINT [FK_OpenClass_Subject]
GO
ALTER TABLE [dbo].[StudentAndOpenClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentAndOpenClass_OpenClass] FOREIGN KEY([OpenClassId])
REFERENCES [dbo].[OpenClass] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StudentAndOpenClass] CHECK CONSTRAINT [FK_StudentAndOpenClass_OpenClass]
GO
ALTER TABLE [dbo].[StudentAndOpenClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentAndOpenClass_User] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StudentAndOpenClass] CHECK CONSTRAINT [FK_StudentAndOpenClass_User]
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubject_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StudentSubject] CHECK CONSTRAINT [FK_StudentSubject_Subject]
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubject_User] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentSubject] CHECK CONSTRAINT [FK_StudentSubject_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Class]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Course]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Faculty] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Faculty]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeUser] FOREIGN KEY([UserType])
REFERENCES [dbo].[TypeUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeUser]
GO
/****** Object:  StoredProcedure [dbo].[CancelResultRegistByStudent]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CancelResultRegistByStudent]
	@Id int,
	@IdStudent int
AS
BEGIN
	update StudentAndOpenClass set Deleted = 1 
	where Id = @Id;

	
	--get subject
	declare @SubjectId int;

	select @SubjectId = SubjectId from OpenClass where Id = (select OpenClassId from StudentAndOpenClass where Id=@Id);

	-- get number study
	declare @NumberStudy int; 
	select @NumberStudy=MAX(NumberStudy) from StudentSubject where StudentId=@IdStudent and SubjectId=@SubjectId and Deleted = 0;

	update StudentSubject set Deleted = 1 
	where StudentId=@IdStudent and SubjectId=@SubjectId and NumberStudy=@NumberStudy;
END
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangePassword]
	-- Add the parameters for the stored procedure here
	@Id int,
	@OldPassword nvarchar(254),
	@NewPassword nvarchar(254)
AS
BEGIN
	declare @Count int;
	select @Count=COUNT(*) from [User] where Id= @Id and [Password] = @OldPassword;
	if(@Count=0) 
	begin
		select -1
		return;
	end

	update [User] set [Password] = @NewPassword where Id =@Id;

	select 1
	return;
END
GO
/****** Object:  StoredProcedure [dbo].[ClassAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassAdd] 
	-- Add the parameters for the stored procedure here
	@Name nvarchar(254),
	@Description nvarchar(254),
	@FacultyId int,
	@CourseId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into Class([Name],[Description],FacultyId,DateCreated,CourseId,Deleted) values(@Name,@Description,@FacultyId,GETDATE(),@CourseId,0)
END
GO
/****** Object:  StoredProcedure [dbo].[ClassAll]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassAll]
	@pageIndex int,
	@pageSize int,
	@FacultyId int,
	@CourseId int
AS
BEGIN

	declare @Total int;
	select @Total = COUNT(*) from Class as c
	where (@FacultyId is null or c.FacultyId = @FacultyId)
		   and (@CourseId is null or c.CourseId = @CourseId)
		    and c.Deleted = 0;
	if(@pageSize=0)
		begin
			select c.Id,c.[Name],c.[Description],cr.[Name] as 'CourseName',f.[Name] as 'FacultyName',@Total as 'Total' from Class as c left join Course as cr on c.CourseId = cr.Id and cr.Deleted = 0
							 left join Faculty as f on c.FacultyId = f.Id and f.IsDeleted = 0
							 where (@FacultyId is null or c.FacultyId = @FacultyId)
							 and (@CourseId is null or c.CourseId = @CourseId)
							 and c.Deleted = 0;
		end
		else
		begin
			select c.Id,c.[Name],c.[Description],cr.[Name] as 'CourseName',f.[Name] as 'FacultyName',@Total as 'Total' from Class as c left join Course as cr on c.CourseId = cr.Id and cr.Deleted = 0
							 left join Faculty as f on c.FacultyId = f.Id and f.IsDeleted = 0
							 where (@FacultyId is null or c.FacultyId = @FacultyId)
							 and (@CourseId is null or c.CourseId = @CourseId)
							 and c.Deleted = 0 order by c.Id OFFSET @PageSize * (@pageIndex - 1) ROWS FETCH NEXT @pageSize ROWS ONLY;

		end


	
END
GO
/****** Object:  StoredProcedure [dbo].[ClassAndCourseAndFaculty]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassAndCourseAndFaculty]
	
AS
BEGIN
	select c.Id,c.Name +', '+cs.Name + ', '+ f.Name as 'Name'
	from Class as c left join Course as cs on c.CourseId=cs.Id
				    left join Faculty as f on c.FacultyId = f.Id
	where c.Deleted = 0 order by
	f.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ClassGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassGetById] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from Class where Id=@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ClassSubjectByFaculty]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassSubjectByFaculty]
	-- Add the parameters for the stored procedure here
	@FacultyId int
AS
BEGIN
	select oc.Id,oc.Name,u.FullName as 'LectureName',s.Name as 'SubjectName',s.Credits,
	oc.StartDate,oc.EndDate,oc.Content,oc.Location,
	(select COUNT(*) from StudentAndOpenClass where Deleted=0 and OpenClassId=oc.Id) as 'TotalRegist'
	,oc.MaxStudent
	from OpenClass as oc
	left join [Subject] as s on oc.SubjectId = s.Id and s.Deleted = 0
	left join [User] as u on oc.LecturerId = u.Id and u.IsDeleted = 0 and u.UserType=2
	where oc.Deleted=0 
	and (@FacultyId is null or s.FacultyId=@FacultyId)
END
GO
/****** Object:  StoredProcedure [dbo].[ClassSubjectByLecture]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassSubjectByLecture]
	-- Add the parameters for the stored procedure here
	@LectureId int
AS
BEGIN
	select oc.Id,oc.Name,u.FullName as 'LectureName',s.Name as 'SubjectName',s.Credits,
	oc.StartDate,oc.EndDate,oc.Content,oc.Location,
	(select COUNT(*) from StudentAndOpenClass where Deleted=0 and OpenClassId=oc.Id) as 'TotalRegist'
	,oc.MaxStudent
	from OpenClass as oc
	left join [Subject] as s on oc.SubjectId = s.Id and s.Deleted = 0
	left join [User] as u on oc.LecturerId = u.Id and u.IsDeleted = 0 and u.UserType=2
	where oc.Deleted=0 
	and oc.LecturerId=@LectureId
END
GO
/****** Object:  StoredProcedure [dbo].[ClassSubjectByStudentRegist]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassSubjectByStudentRegist]
	@Id int
AS
BEGIN
	select oc.Id,oc.Name,s.Name as 'SubjectName',s.Credits,
	oc.StartDate,oc.EndDate,oc.Content,oc.Location,
	(select COUNT(*) from StudentAndOpenClass where Deleted=0 and OpenClassId=oc.Id) as 'TotalRegist'
	,oc.MaxStudent
	from OpenClass as oc
	left join [Subject] as s on oc.SubjectId = s.Id and s.Deleted = 0
	left join [User] as u on oc.LecturerId = u.Id and u.IsDeleted = 0 and u.UserType=2
	where oc.Deleted=0 
	and oc.SubjectId=@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ClassUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClassUpdate] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(254),
	@Description nvarchar(254),
	@FacultyId int,
	@CourseId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Class set [Name]=@Name,[Description]=@Description,FacultyId=@FacultyId,CourseId=@CourseId where Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[CourseAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CourseAdd] 
	-- Add the parameters for the stored procedure here
	@Name nvarchar(254),
	@CourseStart datetime,
	@CourseEnd datetime,
	@IsActive bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into Course([Name],CourseStart,CourseEnd,DateCreated,Deleted,IsActive) values(@Name,@CourseStart,@CourseEnd,GETDATE(),0,@IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[CourseDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CourseDelete]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Course set Deleted =1 where Id =@Id
END
GO
/****** Object:  StoredProcedure [dbo].[CourseGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CourseGetById]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from Course where Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Courses]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Courses]
	-- Add the parameters for the stored procedure here
	@pageIndex int,
	@pageSize int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		declare @Total int;
		select @Total = COUNT(*) from Course where Deleted = 0;
		if(@pageSize=0)
		begin
			select *,@Total as 'Total' from Course where Deleted = 0 order by Course.Id;
		end
		else
		begin
			 select *,@Total as 'Total' from Course where Deleted = 0
			 order by Course.Id OFFSET @PageSize * (@pageIndex - 1) ROWS FETCH NEXT @pageSize ROWS ONLY;
		end
	
END
GO
/****** Object:  StoredProcedure [dbo].[CourseUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CourseUpdate] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(254),
	@CourseStart datetime,
	@CourseEnd datetime,
	@IsActive bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Course set Name = @Name,CourseStart = @CourseStart,CourseEnd = @CourseEnd
	,IsActive = @IsActive where Id=@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteScore]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteScore]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	update StudentSubject set Deleted = 0 where Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[FacultyAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[FacultyAdd] 
	-- Add the parameters for the stored procedure here
	@Name nvarchar(254),
	@Description nvarchar(254)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into Faculty([Name],[Description],IsDeleted,DateCreated) values(@Name,@Description,0,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[FacultyDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[FacultyDelete] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Faculty set [IsDeleted] = 1
					where Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[FacultyGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[FacultyGetById] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from Faculty where Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Facultys]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Facultys]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from Faculty where IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[FacultyUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[FacultyUpdate] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(254),
	@Description nvarchar(254)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Faculty set [Name] =@Name,
					[Description] = @Description
					where Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCourseByStudentId]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCourseByStudentId]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	select * from Course
	where Id = (Select cs.Id
				from [User] as u left join Class as c on u.Id=c.Id and c.Deleted =0
								 left join Course as cs on c.CourseId=cs.Id and cs.Deleted = 0
				where u.UserType=3 and u.Id=@Id);
END

GO
/****** Object:  StoredProcedure [dbo].[GetOpenClassByStudentId]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOpenClassByStudentId]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	--(select COUNT(*) from StudentSubject
	--where SubjectId=@SubjectId and StudentId=u.Id and Deleted = 0) as 'NumberStudy'
	declare @FacultyId int;
	select @FacultyId = f.Id from [User] as u 
	left join Class as c on u.ClassId=c.Id and c.Deleted = 0
	left join Faculty as f on c.FacultyId = f.Id and f.IsDeleted = 0
	where u.Id = @Id;							

	select s.Id,s.Name
	from [subject] as s 
	where s.Deleted = 0 and s.Id in 
	(select oc.SubjectId from OpenClass as oc where oc.Deleted= 0) and s.FacultyId=@FacultyId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentInsertScoreByClassAndSubject]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentInsertScoreByClassAndSubject] 
	-- Add the parameters for the stored procedure here
	@ClassId int,
	@SubjectId int
AS
BEGIN
	--(select COUNT(*) from StudentSubject
	--where SubjectId=@SubjectId and StudentId=u.Id and Deleted = 0) as 'NumberStudy'
	
	select u.Id,u.FullName,ss.NumberStudy,ss.Score1,ss.Score2,ss.Score3
	from [User] as u left join StudentSubject as ss on u.Id=ss.StudentId and ss.SubjectId=@SubjectId and ss.Deleted =0 
	where u.IsDeleted = 0 and u.UserType = 3 and u.ClassId = @ClassId
	order by u.Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentInsertScoreByClassAndSubjectView]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentInsertScoreByClassAndSubjectView] 
	-- Add the parameters for the stored procedure here
	@ClassId int,
	@SubjectId int
AS
BEGIN
	--(select COUNT(*) from StudentSubject
	--where SubjectId=@SubjectId and StudentId=u.Id and Deleted = 0) as 'NumberStudy'
	
	select ss.Id,u.FullName,ss.NumberStudy,ss.Score1,ss.Score2,ss.Score3,
	ss.SummaryScore,ss.SummaryScore4,ss.Scoreword,
	CASE WHEN ss.Evaluate = 1 THEN N'Đạt' ELSE N'Không đạt' END as 'Evaluate'
	from [User] as u inner join StudentSubject as ss on u.Id=ss.StudentId and ss.SubjectId=@SubjectId and ss.Deleted =0 
	where u.IsDeleted = 0 and u.UserType = 3 and u.ClassId = @ClassId
	order by u.Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentInsertScoreByLecturer]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentInsertScoreByLecturer] 
	-- Add the parameters for the stored procedure here
	@OpenClassId int
AS
BEGIN
	--(select COUNT(*) from StudentSubject
	--where SubjectId=@SubjectId and StudentId=u.Id and Deleted = 0) as 'NumberStudy'
	
	declare @IdSubject int;
	select @IdSubject = SubjectId from OpenClass where Id = @OpenClassId;


	select ss.Id,u.Id as 'StudentId',u.FullName,c.Name as 'ClassName',ss.NumberStudy,ss.Score1,ss.Score2,ss.Score3
	from [User] as u left join StudentSubject as ss on u.Id=ss.StudentId and ss.Deleted =0 and ss.SubjectId=@IdSubject
					 left join [Class] as c on c.Id = u.ClassId and c.Deleted = 0
	where u.IsDeleted = 0 and u.UserType = 3 and ss.Evaluate is null
	and u.Id in (select saoc.StudentId from StudentAndOpenClass as saoc where saoc.Deleted = 0 and saoc.OpenClassId=@OpenClassId)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertScore]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertScore]
	-- Add the parameters for the stored procedure here
	@StudentId int,
	@SubjectId int,
	@Semester int,
	@Score1 float,
	@Score2 float,
	@Score3 float,
	@SummaryCore float,
	@SummaryCore4 float,
	@Scoreword nvarchar(10),
	@Evaluate bit
AS
BEGIN
	declare @StudyCount int;
	select @StudyCount = COUNT(*) from StudentSubject where StudentId = @StudentId and SubjectId=@SubjectId and Deleted =0
	if(@StudyCount = 0)
	begin
		set @StudyCount=1;
	end
	else
	begin
		set @StudyCount = @StudyCount + 1;
	end

	insert into StudentSubject(StudentId,SubjectId,NumberStudy,Semester,Score1,Score2,Score3,SummaryCore,SummaryCore4,Scoreword,Evaluate,Deleted)
	values (@StudentId,@SubjectId,@StudyCount,@Semester,@Score1,@Score2,@Score3,@SummaryCore,@SummaryCore4,@Scoreword,@Evaluate,0)
END

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login] 
	-- Add the parameters for the stored procedure here
	@UserName nvarchar(254),
	@Password nvarchar(254) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select Id,FullName,UserType,Active from [User] where UserLogin=@UserName and [Password] = @Password and IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[OpenClassAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OpenClassAdd]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(244),
    @SubjectId int,
    @LecturerId int,
    @StartDate datetime,
    @EndDate datetime,
    @Content nvarchar(254),
    @Location nvarchar(254),
    @MaxStudent int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into OpenClass([Name],SubjectId,LecturerId,StartDate,EndDate,Content,Location,MaxStudent,DateCreated,Deleted)
	values(@Name,@SubjectId,@LecturerId,@StartDate,@EndDate,@Content,@Location,@MaxStudent,GETDATE(),0)
END

GO
/****** Object:  StoredProcedure [dbo].[OpenClassDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OpenClassDelete]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update OpenClass set Deleted = 1 where Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[OpenClassGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OpenClassGetById]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select oc.*,f.Id as 'FacultyId'
	from OpenClass as 
	oc inner join [User] as u on oc.LecturerId=u.Id
	inner join [Faculty] as f on u.FacultyId = f.Id
	where oc.Id =@Id
END

GO
/****** Object:  StoredProcedure [dbo].[OpenClassUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OpenClassUpdate]
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(244),
    @SubjectId int,
    @LecturerId int,
    @StartDate datetime,
    @EndDate datetime,
    @Content nvarchar(254),
    @Location nvarchar(254),
    @MaxStudent int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update OpenClass set  [Name] = @Name,
					SubjectId = @SubjectId,
					LecturerId = @LecturerId,
					StartDate = @StartDate,
					EndDate = @EndDate,
					Content = @Content,
					Location = @Location,
					MaxStudent = @MaxStudent
					where Id =@Id
	
END
GO
/****** Object:  StoredProcedure [dbo].[ProfileLecture]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProfileLecture] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select u.Id,u.FullName,u.Gender,u.DayOfBirth,u.IdCard,u.Email,u.[Address],u.Phone,u.Avatar,
	f.Name as 'FacultyName'
	from [User] as u left join Faculty as f on u.FacultyId = f.Id and f.IsDeleted = 0
	where u.Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ProfileStudent]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProfileStudent] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select u.Id,u.FullName,u.Gender,u.DayOfBirth,u.IdCard,u.Email,u.[Address],u.Phone,u.Avatar,c.Name as 'ClassName',
	f.Name as 'FacultyName',cs.Name as 'CourseName'
	from [User] as u left join [Class] as c on c.Id=u.ClassId and c.Deleted = 0
					 left join Faculty as f on c.FacultyId = f.Id and f.IsDeleted = 0
					 left join [course] as cs on cs.Id = c.CourseId and cs.Deleted = 0
	where u.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ResultRegistByStudent]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResultRegistByStudent]
	@Id int
AS
BEGIN
	select saoc.Id,oc.Name,s.Name as 'SubjectName',s.Credits,
	oc.StartDate,oc.EndDate,oc.Content,oc.Location,
	(select COUNT(*) from StudentAndOpenClass where Deleted=0 and OpenClassId=oc.Id) as 'TotalRegist'
	,oc.MaxStudent
	from StudentAndOpenClass as saoc left join OpenClass as oc on saoc.OpenClassId=oc.Id and oc.Deleted = 0
	left join [Subject] as s on oc.SubjectId = s.Id and s.Deleted = 0
	left join [User] as u on oc.LecturerId = u.Id and u.IsDeleted = 0 and u.UserType=2
	where saoc.StudentId=@Id and saoc.Deleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveScoreAdmin]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveScoreAdmin]
	-- Add the parameters for the stored procedure here
	@StudentId int,
	@SubjectId int,
	@NumberStudy int,
	@Semester int,
	@Score1 float,
	@Score2 float,
	@Score3 float,
	@SummaryScore float,
	@SummaryScore4 float,
	@Scoreword nvarchar(10),
	@Evaluate bit
AS
BEGIN
	declare @Exists int;
	select @Exists = COUNT(*) from 
	StudentSubject where 
	StudentId = @StudentId and SubjectId=@SubjectId 
	and NumberStudy=@NumberStudy
	and Deleted =0
	if(@Exists = 0)
	begin
		--Add
		insert into StudentSubject(StudentId,SubjectId,NumberStudy,Semester,Score1,Score2,Score3,SummaryScore,SummaryScore4,Scoreword,Evaluate,Deleted)
		values (@StudentId,@SubjectId,@NumberStudy,@Semester,@Score1,@Score2,@Score3,@SummaryScore,@SummaryScore4,@Scoreword,@Evaluate,0);
	end
	else
	begin
		update StudentSubject set Score1=@Score1,Score2=@Score2,Score3=@Score3,SummaryScore=@SummaryScore,
		SummaryScore4=@SummaryScore4,Scoreword=@Scoreword,Evaluate=@Evaluate
		where StudentId=@StudentId and SubjectId=@SubjectId and NumberStudy=@NumberStudy and Semester=@Semester
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SaveScoreByLecture]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveScoreByLecture]
	-- Add the parameters for the stored procedure here
	@Id int,
	@Score1 float,
	@Score2 float,
	@Score3 float,
	@SummaryScore float,
	@SummaryScore4 float,
	@Scoreword nvarchar(10),
	@Evaluate bit
AS
BEGIN
	update StudentSubject set Score1=@Score1,Score2=@Score2,Score3=@Score3,SummaryScore=@SummaryScore,
	SummaryScore4=@SummaryScore4,Scoreword=@Scoreword,Evaluate=@Evaluate
	where Id =@Id;

	if(@Evaluate is not null) 
	begin
		update StudentAndOpenClass set Deleted = 1
		where ScoreId = @Id;
	end
END
GO
/****** Object:  StoredProcedure [dbo].[ScoreDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ScoreDelete]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	update StudentSubject set Deleted = 1 where Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ScoreViewByStudentId]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScoreViewByStudentId]
	-- Add the parameters for the stored procedure here
	@StudentId int,
	@SemesterId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select s.Id as 'IdSubject',s.Name as 'SubjectName',s.Credits,ss.NumberStudy,ss.Score1,ss.Score2,ss.Score3,ss.SummaryScore,ss.SummaryScore4,ss.Scoreword,
	CASE WHEN ss.Evaluate = 1 THEN N'Đạt' ELSE N'Chưa đạt' END as 'Evaluate'
	from StudentSubject as ss left join [Subject] as s on ss.SubjectId=s.Id and s.Deleted = 0
	where ss.Deleted = 0 and ss.StudentId=@StudentId and (@SemesterId is null or ss.Semester=@SemesterId)
	order by s.Id
END

GO
/****** Object:  StoredProcedure [dbo].[StudentAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentAdd] 
	-- Add the parameters for the stored procedure here
	@FullName nvarchar(254),
	@Mobile nvarchar(20),
	@Address nvarchar(254),
	@IdFacutly int,
	@Avatar image
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @Count int;
	select @Count=COUNT(*) from Student where FullName = +@FullName;
	if(@Count>0) 
	begin
		select -1
		return;
	end
	insert into Student (FullName,Mobile,[Address],IdFacutly,Avatar) values(@FullName,@Mobile,@Address,@IdFacutly,@Avatar)
END
GO
/****** Object:  StoredProcedure [dbo].[StudentDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentDelete] 
	-- Add the parameters for the stored procedure here
	@EntityId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	Delete from Student where EntityId=@EntityId;
END

GO
/****** Object:  StoredProcedure [dbo].[StudentGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[StudentGetById]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from Student where EntityId = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[StudentRegistSubject]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentRegistSubject]
	-- Add the parameters for the stored procedure here
	@IdOpenClass int,
	@IdStudent int,
	@SemesterId int
AS
BEGIN
	-- check student is registed this class
	declare @Exists int;
	select @Exists = COUNT(*) from StudentAndOpenClass where StudentId=@IdStudent and OpenClassId=@IdOpenClass
	and Deleted = 0;
	if(@Exists > 0) 
	begin
		select -1
		return;
	end

	-- check student is registed this subject
	declare @IdSubject int;
	select @IdSubject = SubjectId from OpenClass where Id = @IdOpenClass and Deleted = 0;

	declare @HaveClassSubject int;
	select @HaveClassSubject = COUNT(*) from
	StudentAndOpenClass as saoc left join OpenClass as oc on saoc.OpenClassId = oc.Id and oc.Deleted = 0
	where saoc.Deleted = 0 and oc.SubjectId = @IdSubject;

	if(@HaveClassSubject > 0) 
	begin
		select -2
		return;
	end

	--check slot in class
	declare @TotalRegist int;
	select @TotalRegist = COUNT(*) from StudentAndOpenClass as saoc
	where saoc.Deleted=0 and saoc.OpenClassId=@IdOpenClass;

	if(@TotalRegist >= (select MaxStudent from OpenClass where Id = @IdOpenClass))
	begin
		select -3
		return;
	end

	-- check 
	declare @Evalute bit;

	select @Evalute = StudentSubject.Evaluate
	from [User] left join StudentSubject on [User].Id=StudentSubject.StudentId and StudentSubject.Deleted = 0
	where [User].Id = @IdStudent and StudentSubject.SubjectId=@IdSubject;

	if(@Evalute = 1)
	begin
		select -4
		return;
	end
	declare @IdScoreCreated int;
	-- get number study
	declare @NumberStudy int;
	select @NumberStudy = COUNT(*) from 
	StudentSubject where 
	StudentId = @IdStudent and SubjectId=@IdSubject and Deleted = 0;
	if(@NumberStudy = 0)
	begin
		set @NumberStudy = 1;
	end
	else
	begin
		set @NumberStudy = @NumberStudy + 1;
	end

	insert into StudentSubject(StudentId,SubjectId,NumberStudy,Semester,Score1,Score2,Score3,SummaryScore,SummaryScore4,Scoreword,Evaluate,Deleted)
		values (@IdStudent,@IdSubject,@NumberStudy,@SemesterId,null,null,null,null,null,null,null,0);

	set @IdScoreCreated = SCOPE_IDENTITY();

	--ok start regist
	insert into StudentAndOpenClass(StudentId,OpenClassId,ScoreId,DateCreated,Deleted)
	values (@IdStudent,@IdOpenClass,@IdScoreCreated,GETDATE(),0);

	select 1
	return;
END
GO
/****** Object:  StoredProcedure [dbo].[Students]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Students]
	-- Add the parameters for the stored procedure here
	@pageIndex int,
	@pageSize int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		declare @Total int;
		select @Total = COUNT(*) from Student;
		if(@pageSize=0)
		begin
			select ROW_NUMBER() OVER (Order by EntityId) as 'Index',Student.EntityId,Student.FullName,Student.Address,Student.Mobile,@Total as 'Total' ,Faculty.Name as 'FacutlyName'
			from Student left join Faculty on Student.IdFacutly = Faculty.Id
			order by Student.EntityId;
		end
		else
		begin
			 select ROW_NUMBER() OVER (Order by EntityId) as 'Index',Student.EntityId,Student.FullName,Student.Address,Student.Mobile,@Total as 'Total' ,Faculty.Name as 'FacutlyName'
			 from Student left join Faculty on Student.IdFacutly = Faculty.Id
			 order by Student.EntityId OFFSET @PageSize * (@pageIndex - 1) ROWS FETCH NEXT @pageSize ROWS ONLY;
		end
	
END
GO
/****** Object:  StoredProcedure [dbo].[StudentUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentUpdate] 
	-- Add the parameters for the stored procedure here
	@EntityId int,
	@FullName nvarchar(254),
	@Mobile nvarchar(20),
	@Address nvarchar(254),
	@IdFacutly int,
	@Avatar image
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update Student set FullName = @FullName,Mobile = @Mobile,
	[Address] = @Address,IdFacutly =@IdFacutly,
	Avatar=@Avatar where EntityId=@EntityId;
END
GO
/****** Object:  StoredProcedure [dbo].[SubjectAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubjectAdd] 
	-- Add the parameters for the stored procedure here
	@Name nvarchar(254),
	@Credits int,
	@Semester int,
	@UsedCalculate bit,
	@FacultyId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into [Subject](Name,Credits,Semester,UsedCalculate,FacultyId,Deleted) 
	values(@Name,@Credits,@Semester,@UsedCalculate,@FacultyId,0)
END
GO
/****** Object:  StoredProcedure [dbo].[SubjectGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubjectGetById] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select * from [Subject] where Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Subjects]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Subjects]
	@pageIndex int,
	@pageSize int,
	@FacultyId int
AS
BEGIN

	declare @Total int;
	select @Total = COUNT(*) from [Subject] as s
	where (@FacultyId is null or s.FacultyId = @FacultyId)
		    and s.Deleted = 0;
	if(@pageSize=0)
		begin
			select s.Id,s.[Name],s.[Credits],s.Semester,f.[Name] as 'FacultyName',@Total as 'Total' 
			from [Subject] as s left join Faculty as f on s.FacultyId = f.Id and f.IsDeleted = 0
							 where (@FacultyId is null or s.FacultyId = @FacultyId)
							 and s.Deleted = 0;
		end
		else
		begin
			select s.Id,s.[Name],s.[Credits],s.Semester,f.[Name] as 'FacultyName',@Total as 'Total' 
			from [Subject] as s left join Faculty as f on s.FacultyId = f.Id and f.IsDeleted = 0
							 where (@FacultyId is null or s.FacultyId = @FacultyId)
							 and s.Deleted = 0 order by s.Id OFFSET @PageSize * (@pageIndex - 1) ROWS FETCH NEXT @pageSize ROWS ONLY;
		end
END
GO
/****** Object:  StoredProcedure [dbo].[SubjectsByFacultyAndSemeterNumber]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubjectsByFacultyAndSemeterNumber]
	@FacultyId int,
	@SemeterId int
AS
BEGIN
	select s.Id,s.[Name]
	from [Subject] as s 
	where s.FacultyId = @FacultyId and s.Semester = @SemeterId
	and s.Deleted = 0;		
END
GO
/****** Object:  StoredProcedure [dbo].[SubjectUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubjectUpdate] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(254),
	@Credits int,
	@Semester int,
	@UsedCalculate bit,
	@FacultyId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	update [Subject] set Name = @Name
	,Credits=@Credits,Semester=@Semester,UsedCalculate=@UsedCalculate,FacultyId=@FacultyId
	where Id = @Id; 
END
GO
/****** Object:  StoredProcedure [dbo].[TopStudentScore]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TopStudentScore]
	-- Add the parameters for the stored procedure here
	@SemesterId int,
	@FacultyId int,
	@CourseId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	Select ss.StudentId,u.FullName,c.Name as 'ClassName',
	ROUND(sum(s.Credits*ss.SummaryScore)/sum(s.Credits),1) AS 'MediumScore10', 
	ROUND(sum(s.Credits*ss.SummaryScore4)/sum(s.Credits),2) AS 'MediumScore4', 
	sum(s.Credits) AS 'AllCredits',
	sum(CASE WHEN ss.Evaluate=1 THEN s.Credits ELSE 0 END) as 'ReachCredits'
	From (([User] as u left join StudentSubject as ss on u.Id=ss.StudentId and ss.Deleted = 0)
					left join [Subject] as s on ss.SubjectId=s.Id and s.Deleted = 0)
					,Class as c
	where s.UsedCalculate = 1 and ss.Semester=@SemesterId and u.ClassId=c.Id and c.FacultyId=@FacultyId and c.CourseId=@CourseId and ss.NumberStudy=1
	group by ss.StudentId,u.FullName,ss.Semester,c.Name
	--having sum(MonHoc.SoTC*DiemMonHoc.DiemHe4)/sum(MonHoc.SoTC)>=2.5
	ORDER BY MediumScore4 DESC 
END
GO
/****** Object:  StoredProcedure [dbo].[UserAdd]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserAdd] 
	-- Add the parameters for the stored procedure here
	@FullName nvarchar(254),
    @Gender nvarchar(254),
    @IdCard nvarchar(254),
    @Email nvarchar(254),
    @Address nvarchar(254),
    @Phone nvarchar(254),
    @UserLogin nvarchar(254),
    @Password nvarchar(254),
    @DayOfBirth datetime,
    @UserType int,
    @ClassId int,
    @FacultyId int,
    @Active bit,
    @Avatar image
AS
BEGIN
	declare @Count int;
	select @Count=COUNT(*) from [User] where UserLogin = @UserLogin;
	if(@Count>0) 
	begin
		select -1
		return;
	end

	if(@Avatar is null)
	begin
		insert into [User](FullName,Gender,IdCard,Email,[Address],Phone,UserLogin,[Password],DayOfBirth,UserType,ClassId,FacultyId,Active,Avatar,IsDeleted)
	values(@FullName,@Gender,@IdCard,@Email,@Address,@Phone,@UserLogin,@Password,@DayOfBirth,@UserType,@ClassId,@FacultyId,@Active,null,0);
	end
	else
	begin
		insert into [User](FullName,Gender,IdCard,Email,[Address],Phone,UserLogin,[Password],DayOfBirth,UserType,ClassId,FacultyId,Active,Avatar,IsDeleted)
	values(@FullName,@Gender,@IdCard,@Email,@Address,@Phone,@UserLogin,@Password,@DayOfBirth,@UserType,@ClassId,@FacultyId,@Active,@Avatar,0);
	end

	

	select 1
	return;
END
GO
/****** Object:  StoredProcedure [dbo].[UserDelete]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UserDelete] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	delete from [User] where Id =@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UserGetById]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UserGetById] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	select * from [User] where Id =@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Users]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users]
	-- Add the parameters for the stored procedure here
	@pageIndex int,
	@pageSize int,
	@TypeUser int,
	@ClassId int,
	@FacultyId int,
	@NameSearch nvarchar(254)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		declare @Total int;
		select @Total = COUNT(*) from [User] 
		where UserType=@TypeUser and IsDeleted = 0
		and (@ClassId is null or [User].ClassId=@ClassId)
			and (@FacultyId is null or [User].FacultyId=@FacultyId)
			and (@NameSearch is null or [User].FullName like '%'+@NameSearch+'%');
		if(@pageSize=0)
		begin
			select u.Id,u.FullName,u.Gender,u.Phone,u.DayOfBirth,@Total as 'Total' from 
			[User] as u
			where u.IsDeleted = 0 and u.UserType=@TypeUser
			and (@ClassId is null or u.ClassId=@ClassId)
			and (@FacultyId is null or u.FacultyId=@FacultyId)
			and (@NameSearch is null or u.FullName like '%'+@NameSearch+'%')
			order by u.Id;
		end
		else
		begin
			 select u.Id,u.FullName,u.Gender,u.Phone,u.DayOfBirth,@Total as 'Total' from 
			[User] as u
			where u.IsDeleted = 0 and u.UserType=@TypeUser
			and (@ClassId is null or u.ClassId=@ClassId)
			and (@FacultyId is null or u.FacultyId=@FacultyId)
			and (@NameSearch is null or u.FullName like '%'+@NameSearch+'%')
			 order by u.Id OFFSET @PageSize * (@pageIndex - 1) ROWS FETCH NEXT @pageSize ROWS ONLY;
		end
END
GO
/****** Object:  StoredProcedure [dbo].[UserUpdate]    Script Date: 6/11/2021 6:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserUpdate] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@FullName nvarchar(254),
    @Gender nvarchar(254),
    @IdCard nvarchar(254),
    @Email nvarchar(254),
    @Address nvarchar(254),
    @Phone nvarchar(254),
    @UserLogin nvarchar(254),
    @Password nvarchar(254),
    @DayOfBirth datetime,
    @UserType int,
    @ClassId int,
    @FacultyId int,
    @Active bit,
    @Avatar image
AS
BEGIN
	
	if(@Avatar is null) 
	begin
		update [User] set FullName = @FullName,Gender = @Gender,IdCard =@IdCard ,Email =@Email ,[Address] =@Address,
		Phone=@Phone,DayOfBirth=@DayOfBirth,ClassId=@ClassId,FacultyId=@FacultyId,Active=@Active
		where Id = @Id;
	end
	else
	begin
		update [User] set FullName = @FullName,Gender = @Gender,IdCard =@IdCard ,Email =@Email ,[Address] =@Address,
		Phone=@Phone,DayOfBirth=@DayOfBirth,ClassId=@ClassId,FacultyId=@FacultyId,Active=@Active,Avatar=@Avatar
		where Id = @Id;
	end
END
GO
