<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IUserService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ICourseService" />
                <binding name="BasicHttpBinding_IFacutlyService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IClassService" />
                <binding name="BasicHttpBinding_ISubjectService" />
                <binding name="BasicHttpBinding_IScoreService" />
                <binding name="BasicHttpBinding_IClassSubjectService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/StudentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentService"
                contract="ServiceStudent.IStudentService" name="BasicHttpBinding_IStudentService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/CourseService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourseService"
                contract="CourseService.ICourseService" name="BasicHttpBinding_ICourseService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/FacutlyService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacutlyService"
                contract="FacutlyService.IFacutlyService" name="BasicHttpBinding_IFacutlyService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/ClassService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClassService"
                contract="ClassService.IClassService" name="BasicHttpBinding_IClassService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/SubjectService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubjectService"
                contract="SubjectService.ISubjectService" name="BasicHttpBinding_ISubjectService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/ScoreService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScoreService"
                contract="ScoreService.IScoreService" name="BasicHttpBinding_IScoreService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/ClassSubjectService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClassSubjectService"
                contract="OpenClassService.IClassSubjectService" name="BasicHttpBinding_IClassSubjectService" />
        </client>
    </system.serviceModel>
</configuration>